   /* * {
    outline: 1px solid red;
    outline-offset: -1px;
}      */

   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
   }


   html {
       font-family: 'Open Sans', sans-serif;
   }

   main {
       min-height: 100%;
       position: relative;
   }

   a {
       color: #FFFFFFCC;
       display: inline-block;
       font-size: 15px;
       letter-spacing: 1px;
       text-align: center;
       text-decoration: none;
       width: 100%;
   }

   .navbar {
       background-color: #353042;
       display: flex;
       flex-direction: row;
       list-style: none;
       padding: 10px 180px;
       position: fixed;
       top: 0;
       width: 100%;
       z-index: 99;
   }

   .nav-marker {
       flex: 1;
       justify-self: left;
       padding: 10px 0;
   }

   .nav-marker i {
       padding: 5px;
   }

   .nav-list {
       align-items: center;
       display: flex;
       flex: 5;
       justify-content: flex-end;
       list-style: none;
   }

   .nav-list a {
       flex: 1;
       padding: 10px;
       text-transform: uppercase;
   }

   .nav-marker a:hover,
   .nav-list a:hover {
       color: #FFFFFF80;
       transition: color 0.3s ease-out;
   }

   img {
       height: 100vh;
       margin: 0 auto;
       object-fit: cover;
       width: 100vw;
   }

   .bg-image {
       max-width: 100%;

   }

   .wrapper {
       color: #353042CC;
       position: relative;
       width: 100%;
       min-height: 100vh;
   }

   .main-section {
       left: 205px;
       position: absolute;
       top: 170px;
   }


   .page-header {
       font-size: 25px;
       padding-bottom: 20px;
       text-transform: uppercase;
   }

   .details {
       font-size: 15px;
       font-weight: 600;
       line-height: 2;
   }

   .signup {
       display: flex;
       justify-content: flex-start;
       padding-top: 40px;
       width: 400px;
   }

   .btn-signup,
   .btn-signin {
       flex: 3;
       padding-top: 13px;
   }

   .signup p {
       flex: 1;
       font-weight: 600;
       margin: 15px 0 0 30px;
   }

   .button {
       background-color: #f28e41CC;
       border: 2px solid transparent;
       border-radius: 5px;
       color: #FFF;
       font-weight: 600;
       height: 50px;
       text-transform: uppercase;
   }

   .button:hover {
       background-color: transparent;
       border: 2px solid #f28e41CC;
       color: #353042CC;
       transition: background-color 0.6s ease-out;
       transition: border 0.6s ease-out;
       transition: color 0.6s ease-out;
   }

   .footbar {
       background-color: #343436;
       bottom: 0;
       color: #FFFFFF80;
       font-size: 12px;
       height: 80px;
       line-height: 1.6;
       margin-top: -10px;
       padding: 20px;
       position: absolute;
       text-align: center;
       width: 100%;
   }

   /* EVENTS */

   /* Search section */
   .search-wrapper {
       margin: 170px 150px 50px 150px;
       max-width: 950px;
       object-fit: cover;
   }

   .search-title {
       align-items: center;
       display: flex;
   }

   .search-title h1 {
       flex: 2.5;
       font-size: 25px;
   }

   .btn-createnew {
       flex: 1;
       padding-top: 12px;
       margin-left: 10px;
       min-width: 75px;
   }

   .form {
       display: -webkit-box;
       /* OLD - iOS 6-, Safari 3.1-6 */
       display: -moz-box;
       /* OLD - Firefox 19- (buggy but mostly works) */
       display: -ms-flexbox;
       /* TWEENER - IE 10 */
       display: -webkit-flex;
       /* NEW - Chrome */
       display: flex;
       margin-top: 25px;
   }

   .form>*:not([type="submit"]) {
       border: 0;
       border-radius: 5px;
       font-size: 12px;
       line-height: 30px;
       margin: 5px 0 0 5px;
       outline: none;
       padding: 5px;
       height: 50px;
   }

   .form>.submit {
       flex: 1;
       font-size: 15px;
       margin: 5px 0 0 5px;
   }

   .search-box,
   input {
       background-color: #3434360D;
       color: #343436CC;
       font-family: 'Open Sans', sans-serif;
       flex: 1;
   }

   /* Cards section */
   .cards-wrapper {
       display: flex;
       flex-wrap: wrap;
       padding: 25px 150px 175px 205px;
   }

   .card {
       border: 1px solid #3530424D;
       border-radius: 10px;
       display: grid;
       grid-template: 200px repeat(2, 50px) 3fr 50px / repeat(5, 1fr);
       height: 550px;
       margin: 30px 30px 0 0;
       width: 320px;
   }

   .img-card {
       border-top: none;
       border-top-left-radius: 8px;
       border-top-right-radius: 8px;
       grid-area: 1 / 1 / span 1 / span 5;
       height: 200px;
       max-width: 318px;
       object-fit: cover;
   }

   .card-what {
       background-color: #f28e41CC;
       border: none;
       border-radius: 5px;
       color: #FFF;
       grid-area: 2 / 1 / span 1 / span 3;
       text-align: center;
       margin: 10px;
       padding-top: 3px;
   }

   .card-when {
       font-size: 12px;
       grid-area: 2 / 4 / span 1 / span 2;
       margin: 15px 10px;
       text-align: end;
   }

   .card-header {
       font-size: 22px;
       grid-area: 3 / 1 / span 1 / span 5;
       margin: 10px 10px 0 10px;
   }

   .card-description {
       border-bottom: 1px solid #3530424D;
       font-size: 15px;
       grid-area: 4 / 1 / span 1 / span 5;
       line-height: 1.6;
       margin: 10px 0 10px 0;
       padding: 0 10px 0 10px;
   }

   .img-profile {
       border-radius: 60%;
       grid-area: 5 / 1 / span 1 / span 1;
       height: 40px;
       margin-left: 10px;
       object-fit: cover;
       width: 40px;
   }

   .card-username {
       color: #353042CC;
       font-size: 12px;
       grid-area: 5 / 2 / span 1 / span 2;
       padding-top: 10px;
       text-align: left;
   }

   .card-mutual {
       color: #353042CC;
       grid-area: 5 / 5 / span 1 / span 1;
       padding-top: 10px;
   }

   .card-mutual>i {
       font-size: 12px;
       padding: 5px;
   }

   .card-mutual>span {
       font-size: 12px;
   }

   /* PROFILE */

   .profile-wrapper {
       display: flex;
       max-width: 1220px;
       object-fit: cover;
       padding: 150px 0 75px 205px;
   }

   .flex-profile {
       display: flex;
       flex-direction: column;
   }

   .img-profile-L {
       border-radius: 50%;
       height: 150px;
       margin: 20px 30px 0 30px;
       object-fit: cover;
       width: 150px;
   }

   .profile-user {
       color: #353042CC;
       margin: 15px 0 0 10px;
   }

   .profile-location>i,
   span {
       color: #353042CC;
       font-size: 14px;
       padding: 5px;
   }

   .flex-description {
       display: flex;
       flex-direction: column;
       font-size: 14px;
       line-height: 1.6;
       margin: 0 30px 0 30px;
   }

   .subtitle-descr {
       color: #f28e41CC;
       padding-top: 20px;
   }

   .flex-buttons {
       display: flex;
       flex-direction: column;
       margin-top: 40px;
   }

   .flex-buttons>* {
       font-size: 13px;
       height: 40px;
       padding-top: 8px;
       margin: 10px;
       width: 175px;
   }

   .btn-delete:hover {
       background-color: transparent;
       border: 2px solid #FE0101;
       color: #353042CC;
       transition: background-color 0.6s ease-out;
       transition: border 0.6s ease-out;
       transition: color 0.6s ease-out;
   }

   .events-wrapper {
       display: grid;
       grid-template: 50% / 50%;
       height: 60px;
       margin-left: 205px;
       max-width: 1020px;
   }

   .your-events {
       border-bottom: 2px solid #f28e41CC;
       grid-area: 1 / 1 / span 1 / span 1;
       text-align: left;
   }

   .org-events {
       border-bottom: 2px solid #35304233;
       grid-area: 1 / 2 / span 1 / span 2;
       text-align: left;
   }



   @media screen and (max-width: 1200px) {

       .cards-wrapper {
           justify-content: center;
       }

       .profile-wrapper {
           max-width: 100vw;
           padding: 170px 100px 75px 100px;
       }

       .events-wrapper {
           margin: 50px 100px 75px 100px;
           max-width: 100vw;
       }

   }



   @media screen and (max-width: 1000px) {

       .navbar {
           flex-wrap: wrap;
           justify-content: center;
       }

       .nav-marker {
           justify-self: center;
       }

       .footbar {
           position: relative; 
       }

       .main-section {
           align-items: center;
           display: flex;
           flex-direction: column;
           left: 0;
           margin-left: auto;
           margin-right: auto;
           padding: 50px;
           right: 0;
           top: 130px;
       }

       .page-header {
           text-align: center;
       }

       .details {
           text-align: center;
       }

       .btn-signup,
       .btn-signin {
           padding: 13px;
       }

       .signup p {
           color: #FFFFFFCC;
           font-weight: 400;
           margin: 15px 0 15px 0;
           padding-left: 25px;
       }

       .search-wrapper {
           margin: 170px 100px 50px 100px;
       }

       .form {
           flex-wrap: wrap;
           justify-content: center;
       }

       .cards-wrapper {
           flex-direction: column;
           padding: 25px 0 100px 0;
           align-content: center;
       }

       .btn-createnew {
           padding-top: 10px;
       }

       .profile-wrapper {
           flex-wrap: wrap;
           justify-content: center;
           padding-left: 50px;
           text-align: center;
       }

       .events-wrapper {
           margin: 0 50px 0 50px;
       }

   }





   @media screen and (max-width: 814px) {

       .btn-createnew {
           padding-top: 3px;
       }

   }



   @media screen and (max-width: 600px) {

       .navbar {
           flex-wrap: wrap;
           justify-content: center;
       }

       .nav-marker {
           justify-self: center;
       }

       .signup {
           display: flex;
       }

       .signup p {
           color: #FFFFFFCC;
           font-weight: 400;
       }

       .search-wrapper {
           margin: 200px 50px 50px 50px;
           max-width: 500px;
       }

       .form {
           flex-wrap: wrap;
           justify-content: center;
       }

       .btn-createnew {
           padding-top: 3px;
       }

       .profile-wrapper {
           padding: 220px 35px 0 35px;
       }

       .flex-buttons {
           margin: 40px 0 40px 0;
       }

       .events-wrapper {
           margin-left: 35px;
           margin-right: 35px;
       }

   }



   @media screen and (max-width: 574px) {

       .search-wrapper {
           margin: 220px 50px 50px 50px;
       }

       .btn-createnew {
           font-size: 10px;
           padding-top: 10px;
       }

       .card {
           margin: 30px 0 0 0;
       }

   }



   @media screen and (max-width: 440px) {

       .signup {
           flex-direction: column;
           width: 160px;
       }

       .signup p {
           margin: 15px 30px 15px 30px;
           padding-left: 40px;
       }

   }